<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214755125299-h46im95dbgv4o72av6evjohro1makdkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214755125299-h46im95dbgv4o72av6evjohro1makdkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBpNhZt5398r8e7Q5MkPWtHnMfogqV65UI</string>
	<key>GCM_SENDER_ID</key>
	<string>214755125299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RiderUser</string>
	<key>PROJECT_ID</key>
	<string>kabou-rider</string>
	<key>STORAGE_BUCKET</key>
	<string>kabou-rider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214755125299:ios:f2648ecdc6f3eb3711db46</string>
	<key>DATABASE_URL</key>
	<string>https://kabou-rider-default-rtdb.firebaseio.com</string>
</dict>
</plist>