<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260773907378-n24ohsdnq5qqko42iiuadpr9elugkr5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260773907378-n24ohsdnq5qqko42iiuadpr9elugkr5h</string>
	<key>API_KEY</key>
	<string>AIzaSyCxYtfVzNJSVddhvKJpq2GzP-2mVS5qck4</string>
	<key>GCM_SENDER_ID</key>
	<string>260773907378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equiprocoach.equipro</string>
	<key>PROJECT_ID</key>
	<string>equipro-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>equipro-coach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260773907378:ios:28c1d78cd576f5eb4fb2ab</string>
</dict>
</plist>